//colors

:root {
    --main-bg: #323264;
    --main-alt: #46466E;
    --main-soft: #686887;
    --accent: #F0145A;
    --active-regular: #24A3FF;
    --active-hover: #0085FF;
    --active-active: #006CCF;
    --grey-bg-alt: #006CCF;
    --grey-bg-alt: #006CCF;
    --grey-text: #006CCF;
    --grey-separator: #006CCF;
  }